<!DOCTYPE html>
<html lang="es">
    <head>
        <!--metadatos-->
        <meta charset="UTF-8">
        <meta name="author" content="Alison Ibarrola, Rodrigo Salinas, Tadeo Molinas, Víctor Giménez">
        <meta name="description" content="aplicación web para venta de productos electrónicos.">
        <meta name="keywords" content="ventas, informática, electrónico, productos, electrónica">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!--título-->
        <title>Kibo</title>
        <!--favicon-->
        <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/logo.png') }}">
        <!-- javascript -->
        <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
        <script src="{{ url_for('static', filename='js/calcular_total.js') }}"></script>  
        <!--bootsrap-->
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.css') }}">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <!--css-->
        <link rel="stylesheet" href="../static/css/style.css">
        <!--font--> 
    </head>
    <body>
        <header>
            {% if session["user_id"] %}
                <nav class="navbar navbar-expand-md  navbar-dark bg-dark ">
                    <div class="container-fluid">
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-toggler" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbar-toggler">
                            <a class="navbar-brand" href="/">
                                <img src="../static/images/logo_principal.svg" alt="logo de la pagina web">
                            </a>
                            <form id="buscador" class="d-flex" role="search" action="#" method="post">
                                <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Buscar">
                                <button class="btn btn-primary" type="submit">Buscar</button>
                            </form>
                            <div class="navbar-nav d-flex">
                                <ul class="navbar-nav d-flex justify-content-center align-items-center">
                                    <li class="nav-item">
                                        <a class="nav-link active" href="#">Carrito</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link active" href="{{ url_for('logout') }}">Cerrar sesión</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </nav>
            {%else%}
                <nav class="navbar navbar-expand-md  navbar-dark bg-dark ">
                    <div class="container-fluid">
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-toggler" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbar-toggler">
                            <a class="navbar-brand" href="/">
                                <img src="../static/images/logo_principal.svg" alt="logo de la pagina web">
                            </a>
                            <form id="buscador" class="d-flex" role="search" action="#" method="post">
                                <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Buscar">
                                <button class="btn btn-primary" type="submit">Buscar</button>
                            </form>
                            <div class="navbar-nav d-flex">
                                <ul class="navbar-nav d-flex justify-content-center align-items-center">
                                    <li class="nav-item">
                                        <a class="nav-link active" href="#">Carrito</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link active" data-toggle="modal" data-target="#registro">Registrarse</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link active" data-toggle="modal" data-target="#inicio">Iniciar Sesión</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </nav>
            {% endif %}
        </header>
        <main>
            <div class="mt-5 pt-5 pl-5 pr-5">
                <form action="">
                    <div class="d-flex justify-content-around">
                        <div class="lista_productos">
                            <table class="table table-borderless">
                                <thead>
                                    <th>Producto</th>
                                    <th>Cantidad</th>
                                    <th>SubTotal</th>
                                    <th></th>
                                </thead>
                                <tbody>
                                    {% for producto in productos %}
                                        <tr>
                                            <td>{{producto.nombre}}</td>
                                            <td>{{session['carrito'][loop.index0][1]}}</td>
                                            <td class="subtotales">{{ producto.precio | int *  session['carrito'][loop.index0][1] | int }}</td>
                                            <td><a href="/carrito_delete/{{producto.id}}">Eliminar</a></td>
                                        </tr>
                                    {% endfor %}
                                    <tr class="border-top">
                                        <th>Costo Total</th>
                                        <td id="total"></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="info_compra">
                            <div class="row justify-content-around">
                                <div class="form-group">
                                    <label for="nombre">Nombre</label>
                                    <input type="text" class="form-control" id="nombre" name="nombre" value="{{usuario.nombre}}" disabled>
                                </div>
                                <div class="form-group">
                                    <label for="apellido">Apellido</label>
                                    <input type="text" class="form-control" id="apellido" name="apellido" value="{{usuario.apellido}}" disabled>
                                </div>
                            </div>
                            <div class="row justify-content-around pt-3">
                                <div class="form-group">
                                    <label for="telefono">Telefono</label>
                                    <input type="number" class="form-control" id="telefono" name="telefono" value="{{usuario.celular}}" disabled>
                                </div>
                                <div class="form-group">
                                    <label for="email">Email</label>
                                    <input type="email" class="form-control" id="email" name="email" value="{{usuario.correo}}" disabled>
                                </div>
                            </div>
                            <div class="row pt-3 pl-1 pr-1">
                                <div class="form-group w-100">
                                    <label for="direccion">Dirección</label>
                                    <input type="text" class="form-control w-100" id="direccion" name="direccion" value="{{usuario.direccion}}" disabled>
                                </div>
                            </div>
                            <h3 class="pt-3">Medio de pago:</h3>
                            <div class="row justify-content-start pt-2 pl-4">
                                <div class="form-group d-flex ">
                                    <label for="medio" class="mb-0 mr-2">Paypal</label>
                                    <input type="radio" class="form-control" id="medio" name="medio" >
                                </div>
                            </div>
                            <!-- <div class="d-flex justify-content-end ">
                                <input type="submit" class="btn btn-primary" value="Terminar compra">
                            </div> -->
                        </div>
                    </div>
                    
                </form>
                <form name="topaypal" action="https://www.sandbox.paypal.com/cgi-bin/webscr" method="post">
                    <input type="hidden" name="cmd" value="_xclick">
                    <input type="hidden" name="business" value="sb-42bec22313938@business.example.com">
                    <input type="hidden" name="item_name" value="articulos"><!--NOMBRE DE ARTICULOS-->
                    <input type="hidden" name="item_number" value="500"><!--NUMERO PARA SEGUIMIENTOS-->
                    <input type="hidden" name="no_shipping" value="1">
                    <input type="hidden" name="amount" value="" id="amount">
                    <input type="hidden" name="return" value="http://127.0.0.1:5000/pago_exitoso/">
                    <input type="hidden" name="cancel_return" value="http://127.0.0.1:5000/pago_cancelado/">
                    <input type="hidden" name="notify_url" value="http://104.236.221.91/ipn/"><!--Para seguimiento-->
                    <input type="submit" value="Terminar Compra" name="submit" class="btn btn-primary">
                </form>
            </div>
        </main>
        <div class="modal fade" id="inicio">
            <div class="modal-dialog">
                <div class="modal-content">
                    <!-- cabecera del diálogo -->
                    <div class="modal-header">
                        <h4 class="modal-title">Login</h4>
                        <button type="button" class="close" data-dismiss="modal">X</button>
                    </div>
                    <!-- cuerpo del diálogo -->
                    <form action="" method="POST">
                        <div class="modal-body">
                            <div class="form-group">
                                <label for="email">Email:</label>
                                <input class="form-control" type="text" name="email">
                                <label for="contraseña">Password:</label>
                                <input class="form-control" id="contraseña" type="password" name="contraseña">
                            </div>
                        </div>
                        <!-- pie del diálogo -->
                        <div class="modal-footer">
                            <input type="submit" class="btn btn-primary mt-2">    
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="modal fade" id="registro">
            <div class="modal-dialog">
                <div class="modal-content">
                    <!-- cabecera del diálogo -->
                    <div class="modal-header">
                        <h4 class="modal-title">Register</h4>
                        <button type="button" class="close" data-dismiss="modal">X</button>
                    </div>
                    <!-- cuerpo del diálogo -->
                    <form action="" method="POST">
                        <div class="modal-body">
                            
                            <div class="form-group">    
                                <label for="nombre">First Name:</label>
                                <input class="form-control" id="nombre" type="text" name="nombre">
                                <label for="apellido">Last Name:</label>
                                <input class="form-control" id="apellido" type="text" name="apellido">
                                <label for="ci">CI:</label>
                                <input class="form-control" id="ci" type="number" name="ci">
                                <label for="email">Email:</label>
                                <input class="form-control" id="email" type="text" name="email">
                                <label for="contraseña">Password:</label>
                                <input class="form-control" id="contraseña" type="password" name="contraseña">
                                <label for="confi">Confirmacion:</label>
                                <input class="form-control" id="confi" type="password" name="confi">  
                            </div>
                        </div>
                        <!-- pie del diálogo -->
                        <div class="modal-footer">
                            <input type="submit" class="btn btn-primary mt-2">
                        </div>
                    </form>
                </div>
            </div>
        </div>        
    </body>
</html>