<!DOCTYPE html>
<html lang="es">
    <head>
        <!--metadatos-->
        <meta charset="UTF-8">
        <meta name="author" content="Alison Ibarrola, Rodrigo Salinas, Tadeo Molinas, Víctor Giménez">
        <meta name="description" content="aplicación web para venta de productos electrónicos.">
        <meta name="keywords" content="ventas, informática, electrónico, productos, electrónica">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!--título-->
        <title>Kibo</title>
        <!--favicon-->
        <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/logo.png') }}">
        <!-- javascript -->
        <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
        <script src="{{ url_for('static', filename='js/desaparecer_boton.js') }}"></script>  
        <!--bootsrap-->
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.css') }}">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <!--css-->
        <link rel="stylesheet" href="../static/css/style.css">
        <!--font--> 
    </head>
    <body>
        <header>
            {% if session["user_id"] %}
            <nav class="navbar navbar-expand-md  navbar-dark bg-dark ">
                <div class="container-fluid">
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-toggler" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbar-toggler">
                            <a class="navbar-brand" href="/">
                                <img src="../static/images/logo_principal.svg" alt="logo de la pagina web">
                            </a>
                            <form id="buscador" class="d-flex ml-5" action="/buscador" method="POST">
                                <select name="tipo" class="form-control w-25" id="tipo" value="{{tipo}}">
                                    <option value="nombre">Nombre</option>
                                    <option value="id" >ID</option>
                                    <option value="marca" >Marca</option>
                                    <option value="categoria" >Categoría</option>
                                </select>
                                <input class="form-control me-2" type="search" placeholder="Buscar" name="busqueda" aria-label="Buscar" value="{{busqueda}}">
                                <input type="submit" class="btn btn-primary" value="Buscar">
                            </form>
                            <div class="navbar-nav d-flex">
                                <ul class="navbar-nav d-flex justify-content-center align-items-center">
                                    <li class="nav-item">
                                        <a class="nav-link active" href="{{ url_for('mostrar_carrito') }}">Carrito</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link active" href="{{ url_for('logout') }}">Cerrar sesión</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </nav>
            {%else%}
                <nav class="navbar navbar-expand-md  navbar-dark bg-dark ">
                    <div class="container-fluid">
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-toggler" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbar-toggler">
                            <a class="navbar-brand" href="/">
                            <img src="../static/images/logo_principal.svg" alt="logo de la pagina web">
                        </a>
                        <form id="buscador" class="d-flex ml-5" action="/buscador" method="POST">
                            <select class="form-control w-25" id="tipo" name="tipo" value="{{tipo}}">
                                <option value="nombre">Nombre</option>
                                <option value="id" >ID</option>
                                <option value="marca" >Marca</option>
                                <option value="categoria" >Categoría</option>
                            </select>
                            <input class="form-control me-2" type="search" placeholder="Buscar" name="busqueda" value="{{busqueda}}">
                            <input type="submit" class="btn btn-primary" value="Buscar">
                        </form>
                        <div class="navbar-nav d-flex">
                            <ul class="navbar-nav d-flex justify-content-center align-items-center">
                                <li class="nav-item">
                                    <a class="nav-link active" href="{{ url_for('mostrar_carrito') }}">Carrito</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link active" data-toggle="modal" data-target="#registro">Registrarse</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link active" data-toggle="modal" data-target="#inicio">Iniciar Sesión</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </nav>
            {% endif %}
        </header>
        <!--Errores Flash-->
        {% with messages = get_flashed_messages() %}
            {% if messages %}
            <div class="mensaje_flash">
                <h2>¡Advertencia!</h2>
                <ul>
                {% for message in messages %}
                    <li>{{message}}</li>
                {% endfor %}
                </ul>
                <button id="aceptar_flash" onclick="desaparecerboton()" class="botones">Aceptar</button>
            </div>
            {% endif %}
        {% endwith %}
        <main>
            <div class="container">
                <div class="ultimos_productos mt-5">
                    <h3 class="mb-3">Nuevos productos:</h3>
                    <div id="carruselNuevos" class="carousel slide rounded p-2" data-ride="carousel">
                        {%if lista_ultimos|length > 1 %}     
                            <ol class="carousel-indicators">
                                <li data-target="#carruselNuevos" data-slide-to="0" class="active"></li>
                                <li data-target="#carruselNuevos" data-slide-to="1"></li>
                                <li data-target="#carruselNuevos" data-slide-to="2"></li>
                            </ol>
                        {%endif%}
                        <div class="carousel-inner">
                            {%for productos in lista_ultimos%}
                                {%if loop.index == 1%}
                                    <div class="carousel-item active">
                                        <div class="cards-wrapper">
                                            {%for producto in productos%}
                                                <div class="card rounded p-2" style="width: 18rem;">
                                                    <p class="descuento">-{{producto.descuento}}%</p>
                                                    <img class="card-img-top" src="{{producto.imagen}}" alt="Card image cap">
                                                    <div class="card-body">
                                                        <a href="/producto_seleccionado/{{producto.id}}">
                                                            <h5 class="card-title">{{producto.nombre}}</h5>
                                                        </a>
                                                        {% if producto.descuento  %} 
                                                            <p><del><strong>Precio Anterior:</strong> {{producto.precio}} Gs.</del></p>
                                                            <p><strong>Oferta:</strong> {{producto.obtener_precio(producto.id)}} Gs.</p>
                                                        {% else %}
                                                            <p><strong>Precio:</strong> {{producto.precio}} Gs.</p>
                                                        {% endif %} 
                                                    </div>
                                                </div>
                                            {%endfor%}
                                        </div>
                                    </div>
                                {%else%}
                                    <div class="carousel-item">
                                        <div class="cards-wrapper">
                                        {%for producto in productos%}
                                            <div class="card rounded p-2" style="width: 18rem;">
                                                <p class="descuento">-{{producto.descuento}}%</p>
                                                <img class="card-img-top" src="{{producto.imagen}}" alt="Card image cap">
                                                <div class="card-body">
                                                    <a href="/producto_seleccionado/{{producto.id}}">
                                                        <h5 class="card-title">{{producto.nombre}}</h5>
                                                    </a>
                                                    {% if producto.descuento  %} 
                                                        <p><del><strong>Precio Anterior:</strong> {{producto.precio}} Gs.</del></p>
                                                        <p><strong>Oferta:</strong> {{producto.obtener_precio(producto.id)}} Gs.</p>
                                                    {% else %}
                                                        <p><strong>Precio:</strong> {{producto.precio}} Gs.</p>
                                                    {% endif %} 
                                                </div>
                                            </div>
                                        {%endfor%}
                                        </div>
                                    </div>
                                {%endif%} 
                            {%endfor%}
                        </div>
                        {%if lista_ultimos|length >1 %}     
                            <div>
                                <a class="carousel-control-prev" href="#carruselNuevos" role="button" data-slide="prev">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                    <span class="sr-only">Previous</span>
                                </a>
                                <a class="carousel-control-next" href="#carruselNuevos" role="button" data-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    <span class="sr-only">Next</span>
                                </a>
                            </div>
                        {%endif%}
                    </div>
                </div>
                <div class="grandes_descuentos mt-5 mb-5">
                    <h3 class="mb-3">Grandes descuentos:</h3>
                    <div id="carruselDescuentos" class="carousel slide rounded p-2" data-ride="carousel">
                        {%if lista_descuentos|length > 1 %}
                            <ol class="carousel-indicators">
                                <li data-target="#carruselDescuentos" data-slide-to="0" class="active"></li>
                                <li data-target="#carruselDescuentos" data-slide-to="1"></li>
                                <li data-target="#carruselDescuentos" data-slide-to="2"></li>
                            </ol>
                        {%endif%}
                        <div class="carousel-inner">
                            {%for productos in lista_descuentos%}
                                {%if loop.index == 1%}
                                    <div class="carousel-item active">
                                        <div class="cards-wrapper">
                                            {%for producto in productos%}
                                                <div class="card rounded p-2" style="width: 18rem;">
                                                    <p class="descuento">-{{producto.descuento}}%</p>
                                                    <img class="card-img-top" src="{{producto.imagen}}" alt="Card image cap">
                                                    <div class="card-body">
                                                        <a href="/producto_seleccionado/{{producto.id}}">
                                                            <h5 class="card-title">{{producto.nombre}}</h5>
                                                        </a>
                                                        <p><del><strong>Precio Anterior:</strong> {{producto.precio}} Gs.</del></p>
                                                        <p><strong>Oferta:</strong> {{producto.obtener_precio(producto.id)}} Gs.</p>
                                                    </div>
                                                </div>
                                            {%endfor%}
                                        </div>
                                    </div>
                                {%else%}
                                    <div class="carousel-item">
                                        <div class="cards-wrapper">
                                        {%for producto in productos%}
                                            <div class="card rounded p-2" style="width: 18rem;">
                                                <p class="descuento">-{{producto.descuento}}%</p>
                                                <img class="card-img-top" src="{{producto.imagen}}" alt="Card image cap">
                                                <div class="card-body">
                                                    <a href="/producto_seleccionado/{{producto.id}}">
                                                        <h5 class="card-title">{{producto.nombre}}</h5>
                                                    </a>
                                                    <p><del><strong>Precio Anterior:</strong> {{producto.precio}} Gs.</del></p>
                                                    <p><strong>Oferta:</strong> {{producto.obtener_precio(producto.id)}} Gs.</p>
                                                </div>
                                            </div>
                                        {%endfor%}
                                        </div>
                                    </div>
                                {%endif%} 
                            {%endfor%}
                        </div>
                        {%if lista_descuentos|length > 1 %}     
                            <div>
                                <a class="carousel-control-prev" href="#carruselDescuentos" role="button" data-slide="prev">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                    <span class="sr-only">Previous</span>
                                </a>
                                <a class="carousel-control-next" href="#carruselDescuentos" role="button" data-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    <span class="sr-only">Next</span>
                                </a>
                            </div>
                        {%endif%}
                    </div>
                </div>
            </div>
        </main>
        <div class="modal fade" id="inicio">
            <div class="modal-dialog">
                <div class="modal-content">
                    <!-- cabecera del diálogo -->
                    <div class="modal-header">
                        <h4 class="modal-title">Login</h4>
                        <button type="button" class="close" data-dismiss="modal">X</button>
                    </div>
                    <!-- cuerpo del diálogo -->
                    <form action="{{url_for('login')}}" method="POST">
                        <div class="modal-body">
                            <div class="form-group">
                                <label for="email">Email:</label>
                                <input class="form-control" type="text" name="correo">
                                <label for="contraseña">Contraseña:</label>
                                <input class="form-control" id="contraseña" type="password" name="contraseña">
                            </div>
                        </div>
                    
                        <!-- pie del diálogo -->
                        <div class="modal-footer">
                            <input type="submit" class="btn btn-primary mt-2">    
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="modal fade" id="registro">
            <div class="modal-dialog">
                <div class="modal-content">
                    <!-- cabecera del diálogo -->
                    <div class="modal-header">
                        <h4 class="modal-title">Registro</h4>
                        <button type="button" class="close" data-dismiss="modal">X</button>
                    </div>
                    <!-- cuerpo del diálogo -->
                    <form action="{{url_for('registro')}}" method="POST">
                        <div class="modal-body">
                            
                            <div class="form-group">    
                                <label for="nombre">Nombre:</label>
                                <input class="form-control" id="nombre" type="text" name="nombre">
                                <label for="apellido">Apellido:</label>
                                <input class="form-control" id="apellido" type="text" name="apellido">
                                <label for="celular">Telefono:</label>
                                <input class="form-control" id="celular" type="text" name="celular">
                                <label for="direccion">Dirección:</label>
                                <input class="form-control" id="direccion" type="text" name="direccion">
                                <label for="correo">Email:</label>
                                <input class="form-control" id="correo" type="text" name="correo">
                                <label for="contraseña">Contraseña:</label>
                                <input class="form-control" id="contraseña" type="password" name="contraseña">
                                <label for="confi">Confirmacion:</label>
                                <input class="form-control" id="confi" type="password" name="confi">  
                            </div>
                        </div>
                        <!-- pie del diálogo -->
                        <div class="modal-footer">
                            <input type="submit" class="btn btn-primary mt-2">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>