{% extends '/dashboard/dashboard.html' %}

{% block h1 %} Modificar Producto {% endblock %}

{% block content %}

        <div class="row">
                <div class="col-lg-6">
                    <table class="table table-striped table-hover">
                        <tbody>
                            {% for producto in productos %}
                                <tr>
                                    <td>
                                        <p class="text-start">{{producto.id}} {{producto.nombre}} {{producto.precio}} <button class="btn btn-link" onclick="completar_informacion('{{producto.id}}')">Actualizar</button>|  <a href="/reponer_stock/{{producto.id}}">Reponer Stock</a></p>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                
                <div class="col-lg-6">
                <form action="{{url_for('proceso_actualizar_producto')}}" autocomplete="off" enctype="multipart/form-data" method="post" id="actualizar_producto">
                    <h3 class="text-primary">Actualizar Datos</h3>
                    <div class="form-group">
                        <label for="nombre_producto">Nombre:</label>
                        <input class="form-control" type="text" name="nombre" id="nombre_producto">
                    </div>
                    <div class="form-group">
                        <label for="descripcion">Descripción:</label>
                        <textarea class="form-control" name="descripcion" id="descripcion"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="precio">Precio:</label>
                        <input class="form-control" type="number" name="precio" id="precio">
                    </div>
                    <div class="form-group">
                        <label for="imagen">Imagen:</label>
                        <input class="form-control" type="file" accept=".jpeg, .png, .jpg" name="imagen">
                    </div>
                    <div class="form-group">
                        <label for="stock_ideal">Stock Ideal:</label>
                        <input type="number" name="stock_ideal" id="stock_ideal">
                    </div>
                    <div class="form-group">
                        <label for="stock_disponible">Stock Disponible:</label>
                        <input type="number" name="stock_disponible" id="stock_disponible">
                    </div>
                    <div class="form-group">
                        <label for="descuento">Descuento:</label>
                        <input type="number" name="descuento" id="descuento">
                    </div>
                    <div class="form-group">
                        <label>Marca:</label>
                        <select class="form-control" name="marca" id="marca">
                            {%for marca in marcas%}
                                <option value="{{marca.id}}">{{marca.nombre}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Categoria:</label>
                        <select class="form-control" name="categoria" id="categoria">
                            {%for categoria in categorias%}
                                <option value="{{categoria.id}}">{{categoria.nombre}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <input type="hidden" name="id" id="id">
                    <input type="submit" value="Atualizar" class="btn btn-primary">
                </form>
            </div>
            <div class="mensaje">
                <h2>¡Advertencia!</h2>
                <ul id="error"></ul>
                <button id="aceptar" class="botones">Aceptar</button>
            </div>
        </div>
        </div>
    

        {% endblock %}